target
bin
*.iml
*.log
/.run
/.idea
**/.settings
**/.classpath
**/.project
**/nb-configuration.xml
**/nbactions.xml
**/test-output/
**/.DS_Store
**/*.orig
pom.xml.versionsBackup
/phantomjsdriver.log
/clients/external/microbilt-ws-client/bin

/fi-gateway/bank-panel/src/main/webapp/WEB-INF/views/2.0/
/merchant-gateway/payment-panel/src/main/webapp/WEB-INF/views/2.0/
.vertx
.DS_Store
/merchant-gateway/frontend-panel/src/main/reactapp/.eslintcache
/go.mod
/go.sum
/risk-engine/risk-engine-server/src/main/java/com/paywithmybank/riskengine/server/v1/riskmodel/
node_modules
c4documentation/workspace.json
c4documentation/.structurizr
